.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skeleton-box {
  background: linear-gradient(
    90deg,
    var(--input-bg) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    var(--input-bg) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 12px;
}

.sk-weather {
  height: 220px;
  width: 100%;
}

.sk-item {
  height: 80px;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
